include .editorconfig
include dev-requirements.txt
include Makefile
include pylintrc
include *.rst
include docs/black_dinghy.yaml
include docs/black_digest.html

recursive-include tests *
recursive-include scriv.d *
