<!DOCTYPE html>
<head>
  {% set double_bubble = "&#x1F5EA;" %}
  {% macro octicon(name, size=16) -%}
    {# Octicons: https://github.com/primer/octicons/tree/main/icons #}
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/{{ name }}-{{ size }}.svg);
  {%- endmacro %}
  <title>{{ double_bubble }} Activity since {{ since|datetime("%Y-%m-%d") }}</title>
  <style>
  body {
    font-family: sans-serif;
    max-width: 60em;
    margin: auto;
    line-height: 1.3;
    color: black;
  }
  ul {
    padding-left: 0;
    list-style-type: none;
  }
  .reponame {
    font-weight: bold;
    font-size: 150%;
  }
  ul.item {
    padding-left: 0em;
    margin-bottom: 1em;
  }
  ul.item > li {
    margin: .5em 0;
  }
  ul.item p {
    margin: 0 0 0 4.2em;
  }
  ul.comment {
    padding-left: 4.2em;
  }
  ul.thread_comment {
    padding-left: 1.5em;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: none;
    color: #0969da;
  }
  .label {
    padding: .2em .5em .1em .5em;
    border-radius: 2em;
    font-size: 75%;
    opacity: .75;
    vertical-align: middle;
    white-space: nowrap;
  }
  .homerepo {
    color: #888;
  }
  .footer {
    color: #888;
    font-style: italic;
    margin-top: 3em;
  }
  .octicons {
    display: inline-block;
    padding-right: .3em;
  }
  .octicon {
    width: 1.3em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    padding-bottom: .2em;
  }
  {# sepia: #aa9a7c #}
  .octicon.star {
    {{ octicon("star") }}
    filter: invert(1) brightness(.5) sepia(1) hue-rotate(98deg) saturate(8) brightness(0.5);
  }
  .octicon.x {
    {{ octicon("x") }}
  }
  .octicon.check {
    {{ octicon("check") }}
  }
  .octicon.checkcircle {
    {{ octicon("check-circle") }}
  }
  .octicon.comment {
    {{ octicon("comment") }}
  }
  .octicon.eye {
    {{ octicon("eye") }}
  }
  .octicon.filediff {
    {{ octicon("file-diff") }}
  }
  .octicon.dash {
    {{ octicon("dash") }}
    filter: invert(1) brightness(.5) sepia(1) hue-rotate(172deg) saturate(0.43) brightness(1.25);
  }
  .octicon.pull {
    {{ octicon("git-pull-request") }}
    {# open color: #1a7f37 #}
    filter: invert(1) brightness(.5) sepia(1) hue-rotate(98deg) saturate(8) brightness(0.5);
  }
  .octicon.pull.draft {
    {{ octicon("git-pull-request-draft") }}
    {# draft color: #57606a #}
    filter: invert(1) brightness(.5) sepia(1) hue-rotate(172deg) saturate(0.43) brightness(0.65);
  }
  .octicon.pull.closed {
    {{ octicon("git-pull-request-closed") }}
    {# closed color: #cf222e #}
    filter: invert(1) brightness(.5) sepia(1) hue-rotate(316deg) saturate(6) brightness(.8);
  }
  .octicon.pull.merged {
    {{ octicon("git-merge") }}
    {# merged color: #8250df #}
    filter: invert(1) brightness(.5) sepia(1) hue-rotate(220deg) saturate(8) brightness(.65);
  }
  .octicon.issue {
    {{ octicon("issue-opened") }}
  }
  .octicon.issue.closed {
    {{ octicon("issue-closed") }}
  }
  </style>
<body>
<h1>Activity since {{ since|datetime("%Y-%m-%d") }}</h1>
<ul class="repo">
  {% for thing, items in results -%}
    <li>
      <span class="reponame"><a href="{{ thing.url }}">
      {%- if thing.container_kind == "repo" -%}
        {{ thing.nameWithOwner }}
      {%- elif thing.container_kind == "project" -%}
        {{ thing.title }}
      {%- elif thing.container_kind == "search" -%}
        {{ thing.query }}
      {%- endif -%}
      </a></span>
      {{ thing.container_kind }} {{ thing.kind }}
      {% if items %}
        <ul class="item">
          {% for item in items -%}
            <li class="{{ item.state|lower }}">

              <a href="{{ item.url }}">{# -#}
                <span class="octicons" title="
                  {%- if item.isDraft %}draft {% endif -%}
                  {%- if item.merged %}merged {% elif item.closed %}closed {% endif -%}
                  {%- if item.__typename == "PullRequest" %}pull request{% endif -%}
                  {%- if item.__typename == "Issue" %}issue{% endif -%}
                  {%- if item.reasonCreated %}, newly created{% endif -%}
                  {%- if item.reasonMerged -%}, newly merged{% elif item.reasonClosed %}, newly closed{% endif -%}
                ">{# -#}

                  {%- if item.reasonCreated -%}
                    <span class="octicon star"></span>
                  {%- else -%}
                    <span class="octicon dash"></span>
                  {%- endif -%}
                  {% if item.reasonMerged -%}
                    <span class="octicon check"></span>
                  {%- elif item.reasonClosed -%}
                    <span class="octicon {% if item.__typename == "PullRequest" %}x{% else %}check{% endif %}"></span>
                  {%- else -%}
                    <span class="octicon dash"></span>
                  {%- endif -%}

                  <span class="octicon
                    {%- if item.isDraft %} draft{% endif -%}
                    {%- if item.merged %} merged{% elif item.closed %} closed{% endif -%}
                    {%- if item.__typename == "PullRequest" %} pull{% endif -%}
                    {%- if item.__typename == "Issue" %} issue{% endif -%}
                  "></span>{# -#}
                </span>{# -#}

                <b>{{item.title}}</b> #{{ item.number }}{# -#}
              </a>
              [{{ item.author.login }}]

              {% if item.labels -%}
                {%- for label in item.labels.nodes -%}
                  <span class="label" style="background: #{{label.color}}; color: {{label.color|textcolor}}">{{ label.name }}</span>
                {% endfor %}
              {%- endif -%}

              {% if item.other_repo -%}
                <span class="homerepo">{{ item.repository.nameWithOwner }}</span>
              {%- endif %}

              {%- if item.body %}<p>{{ item.body|truncate(120) }}</p>{% endif -%}

              {% if item.comments_to_show -%}
                <ul class="comment">
                  {% for comment in item.comments_to_show recursive -%}
                    <li>
                      <a href="{{ comment.url }}" title="{{ comment.updatedAt|datetime() }}">
                        {% if comment.review_state -%}
                          {% if comment.review_state == "APPROVED" -%}
                            <span class="octicon checkcircle" title="reviewed, approved"></span>
                          {% elif comment.review_state == "CHANGES_REQUESTED" -%}
                            <span class="octicon filediff" title="reviewed, changes requested"></span>
                          {% else %}
                            <span class="octicon eye" title="reviewed"></span>
                          {% endif %}
                        {% else %}
                          <span class="octicon comment" title="comment"></span>
                        {% endif %}
                        <b>{{ comment.author.login }}</b>{# -#}
                      {%- if comment.body %}: {{ comment.body|trim|truncate(100) }}{% endif -%}
                      {%- if comment.review_state -%}
                        &nbsp;<i>(review:&nbsp;{{ comment.review_state|lower|replace("_", " ") }})</i>
                      {% endif -%}
                      </a>
                      {% if comment.comments_to_show %}
                        <ul class="thread_comment">{{ loop(comment.comments_to_show) }}</ul>
                      {% endif %}
                    </li>
                  {% endfor -%}
                </ul>
              {% endif -%}

            </li>
          {% endfor -%}
        </ul>
      {% else %}
        <p>Nothing happening</p>
      {% endif %}
    </li>
  {% endfor -%}
</ul>
<p class="footer">
  created by <a href="https://pypi.org/project/dinghy">dinghy</a>,
  {{ now|datetime("%Y-%m-%d %H:%M") }}
</p>
