# Run dinghy CI

name: "Test Suite"

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

defaults:
  run:
    shell: bash

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

env:
  PIP_DISABLE_PIP_VERSION_CHECK: 1

jobs:
  tests:
    name: "Test on ${{ matrix.os }}"
    runs-on: "${{ matrix.os }}-latest"

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          - macos
          - windows

    steps:
      - name: "Check out the repo"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: "Set up Python"
        id: "setup-python"
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          # The last listed Python version is the default.
          python-version: |
            3.9
            3.10
            3.11
            3.12
            3.13

      - name: "Install dependencies"
        run: |
          python -m pip install -U setuptools tox

      - name: "Run tox"
        run: |
          python -m tox
